version: '3.9'
services:
  web:
    build: .
    command: npm run dev
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - '3000:3000'
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/rdp
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - S3_ENDPOINT=minio
      - S3_PORT=9000
      - S3_ACCESS_KEY=minioadmin
      - S3_SECRET_KEY=minioadmin
      - S3_BUCKET=downloads
      - NEXTAUTH_URL=http://localhost:3000
      - NEXTAUTH_SECRET=devsecret
      - ALLOWLIST_DOMAINS=localhost,minio
  worker:
    build: .
    command: npm run worker
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/rdp
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - S3_ENDPOINT=minio
      - S3_PORT=9000
      - S3_ACCESS_KEY=minioadmin
      - S3_SECRET_KEY=minioadmin
      - S3_BUCKET=downloads
  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: rdp
    ports:
      - '5432:5432'
  redis:
    image: redis:7
    ports:
      - '6379:6379'
  minio:
    image: quay.io/minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - minio_data:/data
volumes:
  minio_data: {}
